
{% extends "ADMCRHBundle::layout.html.twig" %}

{% block ADMCRH_body %}

    <p class="listRequest">
    

    </p>

{% endblock %}




{% block javascripts %}
    {{ parent() }}
    <script>
       jQuery(document).ready(function($) {
            
            routine();
            function routine(){
                var form = $('.listRequest');
                        $.ajax({
                            //type: "POST",
                            //beforeSend: function() { $('.listRequest').html('en charge.....') },
                            url: "{{ path('admcrh_processed_refresh_list') }}",
                            data: form.serialize(),
                            error: function(jqXHR, textStatus, errorThrown) { $('.listRequest').html('error') },
                            success: function(htmlResponse) { $('.listRequest').html(htmlResponse) }
                        });
            }
 
            setInterval(routine, 4000);

            
            $(".clickable-row").click(function() {
                //alert("tests");
                //window.document.location = $(this).data("href");
                
    });
            
            
            
        });
        
    
    
    </script>
    
{% endblock %}


