{# empty Twig template #}
{% extends "ADMCCoreBundle::layout.html.twig" %}

{% block title %} Accueil - {{parent()}}{% endblock %}

{% block ADMCCore_body %}
    
    <h2>Les news</h2>
    
    <ul>
         
            <li>news 1 </li>
            <li>news 2</li>
            <li>news 3</li>
     
    </ul>
    
{% endblock %}