

{% extends "ADMCCoreBundle::layout.html.twig" %}

{% block title %} Request - {{parent()}}{% endblock %}

{% block ADMCCore_body %}
    
    <h2>formulaire insertion request</h2>
    
   
    
{% endblock %}
