

{# empty Twig template #}
{% extends "ADMCCoreBundle::layout.html.twig" %}

{% block title %} Accueil - {{parent()}}{% endblock %}

{% block ADMCCore_body %}
    
    <h2>rh</h2>
    
  
    
{% endblock %}