{% extends "::layout.html.twig" %}

{% block title %}
    
    {{parent()}} - DSI
    
{% endblock %}

{% block body %}
    <h1> DSI </h1>
    {%block ADMCDSI_body %}
    {% endblock %}
{% endblock %}